{% extends 'base.html' %}
{% load static %}

{% block title %} | Replies{% endblock %}

{% block content %}

  <div class="banner-bg-img">
    <div class="banner-container">
      <h1 class="hero-title">Guests</h1>
      <h5 class="banner-text">Who's coming?</h5>
    </div>
  </div>

  <div class="row content-container center-align">
    <!-- Attending Section -->
    <div class="col s12">
      <h3 class="content-heading">Who's Coming?</h3>
      {% if attending %}
        {% for detail in attending %}
          {% if detail.attending == "Yes" %}
            <p>
              <span class="content-field-name">Guest / Party:</span>
              <span class="content-value">{{ detail.guest_name }}</span>
              <br/>
              {% if detail.not_attending !=  "N/A" %}
                <span class="content-field-name">Not Coming:</span>
                <span class="content-value">{{ detail.not_attending }}</span>
                <br/>
              {% endif %}
              <span class="content-field-name">Favourite Song:</span>
              <span class="content-value">{{ detail.favourite_song }}</span>
              <br/>
              <span class="content-field-name">Favourite Drink:</span>
              <span class="content-value">{{ detail.favourite_drink }}</span>
              <br/>
              {% if detail.dietary_requirements !=  "N/A" %}
                <span class="content-field-name">Dietary Requirements:</span>
                <span class="content-value">{{ detail.dietary_requirements }}</span>
                <br/>
              {% endif %}
              {% if detail.additional_info !=  "N/A" %}
                <span class="content-field-name">Additional Info:</span>
                <span class="content-value">{{ detail.additional_info }}</span>
                <br/>
              {% endif %}
            </p>
          {% endif %}
        {% endfor %}
      {% else %}
        <p class="content-value">No attending guests have replied yet!</p>
      {% endif %}
    </div>
  </div>

  <div class="row content-container center-align">
    <!-- Not Attending Section -->
    <div class="col s12">
      <h3 class="content-heading">Who's Not Coming?</h3>
      {% if not_attending %}
        {% for detail in not_attending %}
          {% if detail.attending == "No" %}
            <p>
              <span class="content-field-name">Guest / Party:</span>
              <span class="content-value">{{ detail.guest_name }}</span>
              <br/>
              {% if detail.not_attending !=  "N/A" %}
                <span class="content-field-name">Not Coming:</span>
                <span class="content-value">{{ detail.not_attending }}</span>
                <br/>
              {% endif %}
              <span class="content-field-name">Favourite Song:</span>
              <span class="content-value">{{ detail.favourite_song }}</span>
              <br/>
              {% if detail.favourite_drink %}
                <span class="content-field-name">Favourite Drink:</span>
                <span class="content-value">{{ detail.favourite_drink }}</span>
              {% endif %}
              <br/>
              {% if detail.dietary_requirements !=  "N/A" %}
                <span class="content-field-name">Dietary Requirements:</span>
                <span class="content-value">{{ detail.dietary_requirements }}</span>
                <br/>
              {% endif %}
              {% if detail.additional_info !=  "N/A" %}
                <span class="content-field-name">Additional Info:</span>
                <span class="content-value">{{ detail.additional_info }}</span>
                <br/>
              {% endif %}
            </p>
          {% endif %}
        {% endfor %}
      {% else %}
        <p class="content-value">No non-attending guests have replied yet!</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
